<!DOCTYPE html>
<html>
	<head>
		<title>Pull me API - Visor de repositorios github</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preload" as="script" href="assets/js/jquery.min.js"/>
		<link rel="preload" as="script" href="assets/js/underscore.min.js"/>
		<link rel="preload" as="script" href="assets/js/backbone.min.js"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700" rel="stylesheet">
		<link rel="Stylesheet" type="text/css" href="assets/css/reset.css" />
		<link rel="Stylesheet" type="text/css" href="assets/css/styles.css" />
		<link rel="Stylesheet" type="text/css" href="assets/css/media.css" />
	</head>
	<body>
		
		<!-- templates estáticos-->
	
		<textarea data-type="htmltpl" id="repos">
			<h1>Repositorios en github de @hackeryou</h1>
			<div id="repo-search-box" class="repo-search-box"/>
			<div id="menu" class="menu">
				<ul>
					<li><a href="#/" id="menu-repos" class="active">Repositorios</a></li>
					<li><a href="#options" id="menu-options">Opciones</a></li>
				</ul>
			</div>
			<div id="repo-options-container" class="repo-options-container"/>
			<div id="repo-query-info" class="repo-query-info"></div>
			<div id="repo-list-container" class="repo-list-container">
				<div class="spinner"><i class="fas fa-sync fa-spin"></i></div>
			</div>
			<div id="repo-view-container" class="repo-view-container"/>
			<div id="error-container" class="error-container"/>
		</textarea>
		
		<textarea data-type="htmltpl" id="singleRepo">
			<div data-repo-name="<%= repo.name %>" data-repo-id="<%= repo.id %>">
				<h2><%= repo.name %><span class="single-repo-lang"><%= repo.language %></span></h2>
				<div class="repo-list-url"><%= repo.git_url %></div>
			</div>
		</textarea>
		
		<textarea data-type="htmltpl" id="viewRepo">
			<div class="repo-container">
				<div class="close-button"><i class="fa fa-window-close"></i></div>
				<h3>Información de repositorio</h3>
				<h2><%= repo.name %><span class="single-repo-lang"><%= repo.language %></span></h2>
				<div>
					<div class="repo-list-url"><span class="icon-wrapper"><i class="fa fa-clone"></i></span><input type="text" class="hidden-design" readonly value="<%= repo.git_url %>"/></div>
					<div class="repo-list-url"><a href="<%= repo.html_url %>"><span class="icon-wrapper"><i class="fa fa-link"></i></span><%= repo.html_url %></a></div>
					<div class="repo-list-url"><span class="icon-wrapper"><i class="fa fa-calendar"></i></span>Creado <%= vrepo.formatDate(repo.created_at) %></div>
					<div class="repo-list-url"><a href="<%= repo.downloads_url %>"><span class="icon-wrapper"><i class="fa fa-download"></i></span><%= repo.downloads_url %></a></div>
					<div class="repo-list-url"><span class="icon-wrapper"><i class="fa fa-code-branch"></i></span>Último push <%= vrepo.formatDate(repo.pushed_at) %></div>
					<div class="repo-list-url"><span class="icon-wrapper"><i class="fa fa-eye"></i></span><%= repo.watchers %> observadores</div>
				</div>
				<h3>Información de propietario</h3>
				<div class="owner">
					<p><span class="avatar"><img src="<%= repo.owner.avatar_url %>"/></span> <span class="name"><%= repo.owner.login %></span> #<%= repo.owner.id %></p>
					<p><a href="<%= repo.owner.html_url %>"><i class="fa fa-link"></i> <%= repo.owner.html_url %></a></p>
				</div>
			</div>
		</textarea>
		
		<textarea data-type="htmltpl" id="search">
			<input type="text" class="search-query" id="search-query" placeholder="Busca un repo por nombre">
			<button type="button" class="search-submit" id="search-submit"><i class="fas fa-search"></i></button>
		</textarea>
		
		<textarea data-type="htmltpl" id="optionsTmpl">
			<div class="options-wrapper">
				<div class="cols">
					<i class="fa fa-columns"></i>
					<label class="checkbox">
						<input type="radio" name="colType" value="2"/>
						<span>2</span>
					</label>
					<label class="checkbox">
						<input type="radio" name="colType" value="3" checked />
						<span>3</span>
					</label>
					<label class="checkbox">
						<input type="radio" name="colType" value="4"/>
						<span>4</span>
					</label>
				</div>
				<div class="search">
					<i class="fa fa-search"></i>
					<label class="checkbox">
						<input type="checkbox" name="allowSearch" value="true" checked/>
						<span>Permitir búsqueda</span>
					</label>
				</div>
			</div>
		</textarea>
		
		<textarea data-type="htmltpl" id="errorRepo">
			<h2>Error <%= error.code %> <%= error.status %></h2>
			<div class="error-message"><%= error.message %></div>
		</textarea>
		
		<!-- / templates estáticos -->
		
		
		<!-- container de renderizado -->
		<div id="container" class="wrapper"></div>
		
		
		<!-- librería backbone.js 1.3.3 -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/underscore.min.js"></script>
		<script src="assets/js/backbone.min.js"></script>
		
		<!-- modelos / colecciones / vistas -->
		<script>var Views = {};</script>
		<script src="src/models/repoModel.js"></script>
		<script src="src/models/errorModel.js"></script>
		<script src="src/collections/reposCollection.js"></script>
		<script src="src/views/singleRepoView.js"></script>
		<script src="src/views/repoView.js"></script>
		<script src="src/views/searchView.js"></script>
		<script src="src/views/reposView.js"></script>
		<script src="src/views/optionsView.js"></script>
		<script src="src/views/errorView.js"></script>
		
		<!-- router -->
		<script src="src/routes.js"></script>
		
		<!-- arranque de la app -->
		<script src="src/app.js" defer></script>
	</body>
</html>
