html {
	font-size: 62.5%;
	font-family: 'Roboto';
	background-color: rgba(0,0,0,.1);
}


/* ocultación de textarea que contienen las plantillas */
textarea[data-type="htmltpl"] {
	display: none;
}


/** envoltura principal */
.wrapper {
	position: relative;
	max-width: 102.4rem;
	min-height: 100vh;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0 .5rem rgba(0,0,0,.6);
}
.wrapper h1 {
	font-size: 2.6rem;
	font-weight: 700;
	color: #fff;
	background-color: #3700b3;
	padding: 4rem;
	text-shadow: .1rem .1rem .1rem #3700b3;
	position: relative;
	z-index: 10;
}


/** Caja de búsqueda **/
.wrapper .repo-search-box {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4rem;
	z-index: 20;
}
.wrapper .repo-search-box .search-query {
	transition: all .33s ease-in-out;
	background-color: transparent;
	border: 0;
	border-bottom: .2rem solid #fff;
	padding: .6rem;
	font-size: 1.6rem;
	opacity: .6;
	color: #03dac6;
	width: 26rem;
}

.wrapper .repo-search-box .search-query:focus,
.wrapper .repo-search-box .search-query:active {
	color: #000;
	opacity: 1;
	caret-color: #03dac6;
	background-color: #fff;
	box-shadow: 0 0 .6rem rgba(0,0,0,0.4);
}
.wrapper .repo-search-box .search-query:focus + .search-submit,
.wrapper .repo-search-box .search-query:active + .search-submit {
	color: #6200ee;
}
.wrapper .repo-search-box .search-submit {
	transition: all .33s ease-in-out;
	background-color: transparent;
	border: 0;
	color: #fff;
	font-size: 2rem;
	position: absolute;
	right: 4.2rem;
	top: 4.2rem;
	cursor: pointer;
} 



/** Placeholders para input ***/

.wrapper .repo-search-box .search-query::-ms-input-placeholder {
	color: #fff;
	opacity: .7;
}
.wrapper .repo-search-box .search-query:-ms-input-placeholder {
	color: #fff;
	opacity: .7;
}
.wrapper .repo-search-box .search-query::placeholder {
	color: #fff;
	opacity: .7;
}
.wrapper .repo-search-box .search-query:active::-ms-input-placeholder {
	color: #000;
	opacity: .7;
}
.wrapper .repo-search-box .search-query:focus::placeholder,
.wrapper .repo-search-box .search-query:active::placeholder {
	color: #000;
	opacity: .7;
}
.wrapper .repo-query-info {
	font-size: 2.6rem;
	font-weight: 700;
	margin-left: 2%;
	padding: 4rem;
	padding-bottom: 0;
}
.wrapper .repo-query-info small {
	float: right;
	font-size: 1.6rem;
	color: #c51162;
}




/* listado de repos */
.repo-list-container * {
	line-height: 1.75;
	box-sizing: border-box;
	transition: all .33s ease-in-out;
}
.repo-list-container .spinner {
	color: #000;
	font-size: 5rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.repo-list-container {
	min-height: 100%;
	padding: 4rem;
	font-size: 0;
}
.repo-list-container .single-repo {
	position: relative;
	font-size : 1.6rem;
	display: inline-block;
	vertical-align: top;
	margin: 2rem 2%;
	width: 30%;
	border: .1rem solid #e9e9e9;
	padding: 1.4rem;
	border-radius: .5rem;
	cursor: pointer;
}
.repo-list-container:not(.col-type-2):not(.col-type-4) .single-repo:nth-child(3n) {
	margin-right: 0;
}
.repo-list-container.col-type-2 .single-repo {
	width: 47%;
}
.repo-list-container.col-type-2:not(.col-type-4) .single-repo:nth-child(2n) {
	margin-right: 0;
}
.repo-list-container.col-type-4 .single-repo {
	width: 23%;
	margin: 2rem 1%;
}
.repo-list-container.col-type-4:not(.col-type-2) .single-repo:nth-child(4n) {
	margin-right: 0;
}

.repo-list-container .single-repo:hover {
	background-color: #e9e9e9;
	background: linear-gradient(180deg, #fff 0%, #efefef 85%);
	box-shadow: 0 .2rem 1rem -.4rem rgba(0,0,0,.2);
}
.repo-list-container .single-repo h2 {
	font-size: 1.4rem;
	color: #000;
	font-weight: 700;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.repo-list-container .single-repo:hover h2 {
	color: #c51162;
}
.repo-list-container .single-repo .single-repo-lang {
	position: absolute;
	right: 1rem;
	background-color: #ccc;
	color: #fff;
	font-size: 1.2rem;
	padding: .1rem .6rem;
	border-radius: .5rem;
	opacity: .4;
}
.repo-list-container .single-repo:hover .single-repo-lang {
	opacity: 1;
	background-color: #3700b3;
}
.repo-list-container .single-repo .repo-list-url {
	padding: 1rem 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.2rem;
	color: #aaa
}
.repo-list-container .single-repo:hover .repo-list-url {
	color: #666;
}






/** vista de repo */
.repo-view-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 40;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.6);
}
.repo-view-container .repo-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 65vh;
	min-height: 24rem;
	overflow-y: auto;
	max-width: 74rem;
	background: #fff;
	box-shadow: 0 0 .5rem rgba(0,0,0,.6);
	padding: 4rem;
	line-height: 1.7;
}
.repo-view-container .repo-container .close-button {
	position: absolute;
	padding: 0 1rem;
	top: 0;
	right: 0;
	font-size: 2.6rem;
	color: #c51162;
	cursor: pointer;
}
.repo-view-container .repo-container .close-button:hover {
	color: #790037;
}
.repo-view-container .repo-container h3 {
	font-size: 1.6rem;
	color: #018786;
	font-weight: 700;
	text-transform: uppercase;
	border-bottom: .1rem solid green;
	margin: 2rem 0;
}
.repo-view-container .repo-container h3:first-of-type {
	margin-top: 1rem;
}
.repo-view-container .repo-container h2 {
	position: relative;
	font-size: 2.4rem;
	color: #3700b3;
	font-weight: 700;
}
.repo-view-container .repo-container .single-repo-lang {
	position: absolute;
	right: 1rem;
	top: 0.8rem;
	background-color: #018786;
	color: #fff;
	font-size: 1.2rem;
	padding: .1rem .6rem;
	border-radius: .5rem;
}
.repo-view-container .repo-container .repo-list-url {
	font-size: 1.6rem;
	font-weight: 400;
	padding: 1rem 0;
}
.repo-view-container .repo-container .repo-list-url:last-child {
	padding-bottom: 3rem;
}
.repo-view-container .repo-container .repo-list-url a {
	color: #6200ee;
	text-decoration: none;
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
}
.repo-view-container .repo-container .repo-list-url .icon-wrapper {
	display: inline-block;
	width: 2.6rem;
}
.repo-view-container .repo-container .repo-list-url a:hover {
	color: #3700b3;
}
.repo-view-container .repo-container .repo-list-url .fa {
	vertical-align: middle;
	margin-right: 1rem;
}
.repo-view-container .repo-container .repo-list-url .fa.fa-calendar {
	vertical-align: baseline;
}
.repo-view-container .repo-container .repo-list-url .hidden-design {
	border: 0;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 1.6rem;
	padding: .2rem 1rem;
	padding-left: 0;
	vertical-align: middle;
	width: 90%;
}
.repo-view-container .repo-container .owner {
	background: #efefef;
	padding: 2rem;
	margin-bottom: 2rem;
}
.repo-view-container .repo-container .owner .avatar {
	display: inline-block;
	vertical-align: middle;
}
.repo-view-container .repo-container .owner .avatar img {
	display: inline-block;
	height: 5.4rem;
	width: auto;
}
.repo-view-container .repo-container .owner p {
	font-size: 1.8rem;
}
.repo-view-container .repo-container .owner p .name {
	font-size: 2.4rem;
	font-weight: 600;
	margin: 0 2rem;
}
.repo-view-container .repo-spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	font-size: 5rem;
}
.repo-view-container .repo-container .owner a {
	color: #6200ee;
	text-decoration: none;
}
.repo-view-container .repo-container .owner a .fa {
	margin-right: 1rem;
}
.repo-view-container .repo-container .owner a:hover {
	color: #3700b3;
}





/* errores */
.error-container {
	line-height: 1.7;
	padding: 4rem;
}
.error-container h2 {
	font-size: 2.6rem;
	font-weight: 700;
	color: #c51162;
}
.error-container .error-message {
	margin-top: 4rem;
	padding: 0 5rem;
	font-size: 1.6rem;
	font-weight: 300;
}
.error-container .error-message p {
	padding: 1rem 0;
}
.error-container .error-message strong {
	font-weight: 700;
}
.error-container .error-message .retry-button {
	display: inline-block;
	background-color: #03dac6;
	color: #000;
	padding-right: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 400;
	border-radius: 1rem;
	overflow: hidden;
}
.error-container .error-message .retry-button:hover {
	background-color: #018786;
	color: #fff;
}
.error-container .error-message .retry-button .fa {
	padding: 1.4rem;
	margin-right: 1rem;
	background-color: #018786;
	color: #fff;
	text-shadow: .1rem .1rem .1rem #000;
}
.error-container .error-message .retry-button:hover .fa {
	color: #000;
	text-shadow: .1rem .1rem .1rem #fff;
	background-color: #03dac6;
}









/*** menú superior **/
.menu {
	position: relative;
	font-size: 0;
	z-index: 10;
}
.menu * {
	box-sizing: border-box;
	transition: all .33s ease-in-out;
}
.menu ul {
	position: relative;
	display: block;
}
.menu ul li {
	position: relative;
	width: 50%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.menu ul li a {
	color: #018786;
	text-decoration: none;
	display: block;
	font-size: 1.8rem;
	padding: 2rem;
	background: #efefef;
	border-bottom: .2rem solid #fff;
}
.menu ul li a:hover {
	background: #e9e9e9;
	text-shadow: .1rem .1rem .1rem #fff;
}
.menu ul li a.active {
	background: #e6e6e6;
	text-shadow: .1rem .1rem .1rem #fff;
	border-bottom: .2rem solid #3700b3;
	color: #3700b3;
}



/*** opciones **/
.repo-options-container {
	position: relative;
	z-index: 5;
	/** uso margin para que haga efecto de animación con el contenido también */
	opacity: 0;
}
.repo-options-container[style] {
	margin-top: -4rem;
}
.repo-options-container .options-wrapper {
	padding: 2rem 4rem;
	font-size: 0;
}

.repo-options-container .options-wrapper > div > .fa {
	font-size: 2rem;
	color: #c51162;
	vertical-align: middle;
	margin-right: 1rem;
}
.repo-options-container .options-wrapper .cols,
.repo-options-container .options-wrapper .search {
	display: inline-block;
	vertical-align: middle;
	width: 50%;
	font-size: 1.8rem;
}
.repo-options-container .options-wrapper .search {
	text-align: right;
}




/** checkbox / radio buttons **/
label.checkbox {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}
label.checkbox input[type="radio"],
label.checkbox input[type="checkbox"] {
	display: none;
}
label.checkbox input[type="radio"] + span,
label.checkbox input[type="checkbox"] + span {
	display: inline-block;
	vertical-align: middle;
}
label.checkbox input[type="radio"]:checked + span,
label.checkbox input[type="checkbox"]:checked + span {
	color: #6200ee;
}
label.checkbox input[type="radio"] + span::before,
label.checkbox input[type="checkbox"] + span::before {
	font-family: Font Awesome\ 5 Free;
	margin-right: 1rem;
}
label.checkbox input[type="radio"]:checked + span::before,
label.checkbox input[type="checkbox"]:checked + span::before {
	font-family: Font Awesome\ 5 Free;
	color: #6200ee;
}
label.checkbox input[type="radio"] + span::before {
	content: "\f111";
}
label.checkbox input[type="checkbox"] + span::before {
	content: "\f0c8";
}
label.checkbox input[type="radio"]:checked + span::before {
	content: "\f058";
}
label.checkbox input[type="checkbox"]:checked + span::before {
	content: "\f14a";
}